.head-bar{
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
}

#signIn{
margin: 0;
text-decoration: none;
}

#SpecH{
margin: 0;
font-size: 24px;
font-family: Calibri;
}

.special-title{
font-family: Edwardian Script ITC;
display: inline;
margin-right: 10px;
}

body{
margin: 0;
padding: 0;
background-color: rgb(13.375,10.625,31.875);
}

.body-background{
background-size: auto;
height: 500px;
width: 1264.5px;
margin-top: 375px;
background-color: rgb(26.75,21.25,63.75);
}

.grand-background {
background-color: rgb(64,64,64);
background-repeat: no-repeat;
background-position: top left;
background-size: auto;
height: 300px;
width: 1264.5px;
padding-top: 0.05px;
}

#siteGreeting{
color: rgb(255,255,255);
font-family: Calibri;
font-size: 50px;
margin-left: 75px;
margin-top: 75px;
font-weight: bold;
}

#siteInformation{
color: rgb(255,255,255);
font-family: Calibri;
font-size: 16px;
margin-left: 90px;
margin-top: 32.5px;
}

.painting-item img{
border: 3px solid white;
border-radius: 10px;
padding: 0;
margin-bottom: 5px;
}

.logo-name{
text-align: center;
font-family: Calibri;
font-size: 20px;
color: rgb(255,255,255);
margin: 5px 0 0 0;
padding: 5px 10px;
width: 90%;
border-radius: 15px; 
border: 3px solid transparent; 
border-radius: 15px; 
box-shadow: 0 2px 4px rgb(107,85,255);
background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, linear-gradient(to right, rgb(0, 100, 255), rgb(150, 0, 255)) border-box;
background-clip: padding-box, border-box;
}

.logo-name.solid{
outline-style: solid;
}

.paintings-row{
display: flex;
justify-content: center;
align-items: flex-start;
padding: 20px 0;
}

.painting-item{
display: flex;
flex-direction: column; 
align-items: center; 
margin: 0 10px; 
border: 3px solid transparent; 
box-shadow: 0 2px 4px rgb(107,85,255);
background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, linear-gradient(to right, rgb(0, 100, 255), rgb(150, 0, 255)) border-box;
background-clip: padding-box, border-box;
border-radius: 15px; 
box-shadow: 0 2px 4px rgb(107,85,255); 
padding: 10px;
}

.paintings-content{
color: rgb(255,255,255);
font-family: Calibri;
font-size: 35px;
padding-left: 18px;
}

.text-link{
font-size: 18px;
font-family: Calibri;
color: rgb(220,220,220);
text-align: center;
padding-left: 5px;
padding-right: 5px;
transition: color 0.2s ease;
}

.sign-in-button{
background-color: rgb(64,64,64);
padding: 5px 12px;
border: none;
border-radius: 5px;
cursor: pointer;
outline: none;
transition: box-shadow 0.2s ease;	
}

.sign-in-button:hover{
box-shadow: 0 0 15px rgb(255, 255, 255);
}

.sign-in-button:active{
box-shadow: 0 0 15px rgb(255, 255, 255);
transform: scale(0.98);
}

.text-link:hover{
color: rgb(255,255,255);
}

.text-link:active{
color: rgb(255,255,255);
}